$accent-color: #3a7bfd;
$gradient-blue-to-purple: linear-gradient(to right, #57ddff, #c058f3);
$gradient-purple-to-blue: linear-gradient(to right, #c058f3, #57ddff);
$shadow: 0px 8px 10px #393a4c;

// Light
$bg-list-light: #fafafa;
$bg-light: #e4e5f1;

$tc-primary-light: #9394a5;
$tc-select-light: #484b6a;
$tc-secondary-light: #d2d3db;
$tc-comp-light: #dddde4;

// Dark
$bg-dark: #161722;
$bg-list-dark: #25273c;

$tc-primary-dark: #cacde8;
$tc-select-dark: #e4e5f1;
$tc-secondary-dark: #777a92;
$tc-comp-dark: #5a5c72;

$font-size: 1.125rem;
