@import "../../scss/container/container";

html {
  box-sizing: border-box;
  height: 100%;
  &.preload * {
    transition: none !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
  }
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

.mar {
  padding-left: 6.4%;
  padding-right: 6.4%;
}
