@import "../../scss/container/container";

// .grabbing {cursor: -webkit-grabbing; cursor: grabbing;}

body {
  transition: all 1s ease-out;
  @include theme-aware("background", "bg");
  @include theme-aware("color", "tc-primary");
}

.todo {
  width: 100%;
  min-width: 328px;
  max-width: 540px;
}

.bg--img {
  @include theme-aware("background-image", "bg-img-mob");
  background-size: cover;
  background-repeat: no-repeat;

  height: 200px;
  width: 100%;
}

.head {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
  h1 {
    color: #fff;
  }
}

.cont {
  display: flex;
  align-items: center;
  flex-direction: column;

  &__input {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 15px 18px;
    margin-top: 40px;

    width: 100%;

    height: 48px;
    border-radius: 6px;

    @include theme-aware("background", "bg-list");
    @include theme-aware("color", "tc-primary");
    transition: all 1s ease-out;

    &--circle {
      width: 24px;
      height: 24px;
      @include theme-aware("border", "brdr");

      border-radius: 50%;
    }
    input {
      border: none;
      margin-left: 2rem;
      width: 100%;
      height: 100%;
      @include theme-aware("color", "tc-primary");
      @include theme-aware("background", "bg-list");
      transition: all 1s ease-out;
    }

    textarea:focus,
    input:focus {
      outline: none;
    }
  }

  &__list {
    margin-top: 16px;
    width: 100%;

    @include theme-aware("color", "tc-primary");

    li {
      display: flex;
      width: 100%;
      min-height: 48px;
      height: auto;
      padding: 15px 18px;

      list-style: none;
      @include theme-aware("border-bottom", "brdr");

      cursor: -webkit-grab;
      cursor: grab;

      @include theme-aware("background", "bg-list");
      transition: all 1s ease-out;

      &:first-child {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
      }

      p {
        margin-left: 2rem;
        margin-right: auto;

        &.comp {
          text-decoration: line-through;
          @include theme-aware("color", "tc-comp");
        }
      }

      .check,
      .edit,
      .del {
        min-width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }

      .check {
        @include theme-aware("border", "brdr");
        transition: all 1s ease-in-out;

        border-radius: 50%;

        &--icon {
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 24px;
          height: 24px;
          border-radius: 50%;
          background: $gradient-blue-to-purple;
          color: #fff;
          opacity: 0;
          transition: all 0.3s ease-in-out;

          &.comp {
            opacity: 1;
            transition: all 0.3s ease-in-out;
          }
        }
      }

      .edit:hover {
        color: #9acd32;
      }

      .del {
        margin-left: 0.5rem;
        &:hover {
          color: #ff6347;
        }
      }
    }
  }

  &__fillter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    &--side {
      display: flex;
      justify-content: space-between;
      font-size: 0.9rem;
      width: 100%;
      height: 48px;
      padding: 15px 52px;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;

      @include theme-aware("background", "bg-list");
      @include theme-aware("color", "tc-secondary");
      transition: all 1s ease-out;

      p:last-child:hover {
        color: $accent-color;
        cursor: pointer;
      }
    }

    &--center {
      display: flex;
      justify-content: space-evenly;
      font-weight: 700;
      width: 100%;
      height: 48px;
      padding: 15px 52px;
      margin-top: 15px;
      border-radius: 6px;

      @include theme-aware("background", "bg-list");
      transition: all 1s ease-out;

      p:hover {
        color: $accent-color;
        cursor: pointer;
      }
    }
  }

  &__foo {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 43px;
    margin-bottom: 69px;
    font-weight: 700;
    p {
      @include theme-aware("color", "tc-secondary");
    }
  }
}
