// container
@import "../../scss/container/container";

.toggle {
  position: relative;
  width: 1.75rem;
  height: 1.75rem;
  cursor: pointer;

  &__moon,
  &__sun {
    width: 1.75rem;
    height: 1.75rem;
  }

  &__sun {
    position: absolute;
    inset: 0;

    opacity: 0;
    transform: translateY(20%) rotateZ(50deg);
    transition: all 1s ease-out;

    &--anim {
      opacity: 1;
      transform: translateY(0%) rotateZ(0deg);
    }
  }

  &__moon {
    opacity: 1;
    transform: translateY(0) rotateZ(0deg);
    transition: all 1s ease-out;

    &--anim {
      opacity: 0;
      transform: translateY(20%) rotateZ(100deg);
    }
  }
}
